---
---

@import "{{ site.theme }}";


// Redifing sup and sub properly 
sup, sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Overridde ul style
ul {
    list-style: none;
}

// Table for cv
.cv_header {
    text-align: center;
}

.cv_date_col {
    width: 5%;
    text-align: center;
    vertical-align: middle;
}

.cv_title_col {
    border-bottom: 1px solid #ddd;
    text-align: right;
}


#header_wrap .inner {
  padding: 0px 10px 10px 10px;
}

#menu { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 700;
}

#menu li {
    float: left;    
}

#menu li a {
    display: block;
    padding: 8px;  
    text-align: center;
    background-color: #0090ff;
    color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#menu li a:hover {
    background-color: #fff;
    color: #0090ff;
}

#footer_info {
    list-style-type: none;
    color: #fff;
    overflow: hidden;
}

#footer_info li {
    float: right;
    padding: 2px;
}

.container {
    overflow: hidden;
}

.post {
    float: left;
    text-align: justify;
    width: 550px;
}

.navbar {
    float: right;
}

.navbar ul {
    list-style-type: none;
}